* {
  margin: 0;
  padding: 0;
}

@layer base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
}

@keyframes waveEffect {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-waveBackground {
  animation: waveEffect 5s linear infinite;
}
